.cards{
    text-align: center;
}
.styling {
    background: #efefef;
    list-style: none;
    padding: 20px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    line-height: 24.5px;

}
